* {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --navy: #192a44;
  --drk-navy: #0f1a2b;
  --lgt-blue: #84dcc6;
  --lgt-green: #a5ffd6;
  --lgt-pink: #ffa69e;
  --drk-pink: #ff686b;
  --magenta: #d81e5b;
}

body {
  background-color: var(--navy);
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#navbar-container {
  width: 100%;
  position: fixed;
  background: transparent;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#name {
  color: white;
  font-size: 30px;
  text-align: center;
}

#name:hover {
  color: var(--lgt-pink);
  transition: all 0.5s ease;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-list a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0 25px
}

.navbar-list a:hover {
  color: var(--lgt-green);
  transition: all 0.25s ease;
}

.resume {
  background-color: var(--drk-pink);
  font-weight: 700;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 85px;
  margin: 0 25px
}
.resume:hover {
  cursor: pointer;
  background-color: var(--lgt-pink);
  transition: all 0.5s ease;
}

section {
  /* width: 100%; */
  /* height: 100vh; add to sections where you want to take up full screen*/
  /* padding: 160px 15% 120px; */
}

.home {
  /* bg img, sze cover, pos center */
  /* position: relative; */
  padding: 160px 15% 120px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 135%;
}

.home-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-greeting #hello {
  font-size: 175%;
  color: var(--lgt-pink);
}

.home-greeting h1 {
  font-size: 400%;
  font-weight: 700;
  margin: 0 0 8px;
}

.home-greeting h3 {
  font-size: 225%;
}

.home-greeting #title {
  font-size: 110%;
  color: var(--drk-pink);
}

.about {
  /* bg img, sze cover, pos center */
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding: 160px 15% 120px;
}

.projects {
  /* bg img, sze cover, pos center */
  /* position: relative; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

.contact {
  /* bg img, sze cover, pos center */
  /* position: relative; */
  height: 70vh; /*will need to adjust*/
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding: 160px 15% 120px;
}

/* for mobile view */
#mobile-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
} 
